[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
  /* Rectangle 7: */
  border: 2px solid #DFDFDF;
  border-radius: 3px;
  box-shadow: none;
  color: #4d4d4d;
  padding: 10px 15px;
  height: initial;
  font-size: em(14); }
