.btn {
	display: inline-block;
	padding: 15px 30px;
	font-size: em(16);
	border-radius: 2px;
	font-family: $semibold;

	&.small {
		padding: 10px 30px;
	}
}

.grey-btn {
	background-color: #c6c6c6;
	color: $text-color;
}

.blue-btn {
	background: $blue;
	color: #fff;
}

.capital {
	text-transform: uppercase;

	&:hover {
		color: #fff;
	}
}

.green-btn {
	background: $green;
	color: #fff;
	text-decoration: none;
	border-radius: 3px;

	&:hover {
		background: #34CA89;
		color: #fff;
	}
}

.no-border {
	color: #fff;
	border-bottom: 2px solid #fff;
	padding-bottom: 5px;
}

