.dashboard-ctn {
	background: #fafafa;
}

.dash-left {
	float: left;
	width: 24%;
	display: none;
	padding-left: 15px;
}

.dash-right {
	float: left;
	width: 100%;
}

.dash-side-menu {
	padding: 50px 0;

	.show-web-list {
		display: block;
		font-size: em(18);
		color: $black;
		padding-top: 20px;
		font-family: $semibold;
	}

	ul {
		li {
			font-size: em(16);
			color: $text-color;
			margin-bottom: 10px;
			font-family: $semibold;

			a {
				color: $text-color;

				&:hover {
					text-decoration: none;
				}

				i {
					margin-right: 10px;
				}

				&.active {
					color: $blue;
				}
			}
		}

		&.domain-list {
			margin-left: 15px;
			margin-top: 5px;

			li {
				font-family: $regular;
				a {
					color: $text-color;

					&.selected {
						font-family: $semibold;
						color: $black;
					}
				}
			}
		}
	}
}

.main-dash {
	// border-left: 1px solid #dcdcdc;
	padding:45px 0px;
	// padding: 0 40px;
	padding-left: 20px;
	padding-right: 20px;
}


.dash-header {
	margin-bottom: 30px;
	h3 {
		font-size: em(24);
		color: $black;
		margin-bottom: 4px;

		span {
			font-size: 14px;
			color: $green;
		}
	}

	p {
		font-size: em(14);
		color: $text-color;
		span {
			font-family: $semibold;
		}
	}
}


.meter-box {
	width: 100%;
	background: #ddd;
	height: 15px;
	margin-bottom: 4px;
}

.stats-box {
	p {
		margin-bottom: 2px;

		span {
			font-family: $semibold;
			// color: $text-color;
		}
	}
}


.meter-indicator {
	background: $green;
	display: block;
	height: 15px;

	&.amber {
		background: #F98A51;
	}

	&.danger {
		background: $red;
	}
}

.dashboard-section {
	margin-top: 50px;
}

.category-box {
	background: #FFFFFF;
	box-shadow: 1px 1px 0 0 rgba(0,0,0,0.05);
	margin-bottom: 40px;

	.category-title {
		background: $blue;
		color: #fff;
		text-transform: uppercase;
		font-family: $semibold;
		padding:10px 20px;
		margin-bottom: 0;

		i {
			margin-right: 10px;
		}
	}

	div {
		
		padding: 20px;

		ul {
			li {
				margin-bottom: 5px;
				a {
					color: $black;

					&:hover {
						color: $blue;
					}

				}
			}
		}

		p.nameservers {
			font-family: $semibold;
			font-size: 16px;
			margin-bottom: 10px;

			span {
				display: block;
				margin-top: 2px;
				font-family: $regular;
				font-size: 14px;
			}
		}

		p {
			font-family: $semibold;
			margin-bottom: 5px;

			span {
				font-family: $regular;
			}
		}
	}
}

ul.breadcrumbs {
	li {
		display: inline-block;

		a {
			color: $text-color;
			&.active {
				font-family: $semibold;
				color: $black;
			}
		}

	}	
}

.logged-in-dropdown {
	position: absolute;
	display: none;
	right: 0;
	top: 45px;
	// border: 1px solid #ccc;
	background: #fafafa;
	width: 150px;
	margin-right: 20px;
	border-radius: 2px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
	border: 1px solid #dfdfdf;


	&:before {
		position: absolute;
		top: -5px;
		right: 20px;
		width: 10px;
		height: 10px;
		border: 1px solid #e0e0e0;
		border-top: 0;
		border-right: 0;
		border-bottom-left-radius: 3px;
		background: #fff;
		content: "";
		transform: rotate(135deg)
	}

	ul {
		li {
			
			border-bottom: 1px solid #f1f1f1;
			text-transform: uppercase;
			a {
				font-family: $semibold;
				font-size: em(14);
				color: $text-color;
				padding: 10px 15px;
				display: block;
				transition: all 200ms linear;

				&:hover {
					color: $blue;
				}

			}
		}
	}
}

.dash-logged {
	margin-left: 0;

	i {
		margin-left: 5px;
	}
}

.profile-dashboard {
	max-width: 700px;
}

.domain-table {
	width: 100%;
	overflow-x: scroll; 
	padding: 10px;
	background: #fff;
	border: 2px solid rgba(236, 236, 236, 0.6);
}
.domain-details {

	&.table-head {
		font-family: $semibold;
		color: $text-color !important;
		padding-bottom: 0px;

		ul {
			li {
				&:nth-child(1) {
					color: $text-color;
				}
			}
		}
	}



	ul {
		margin: 0;
		padding: 0;
		padding: 10px 0;
		// border-bottom: 1px solid #ccc;
		border-bottom: 1px solid rgba(204, 204, 204, 0.43);

		&:hover {
			background: rgba(33, 118, 255, 0.08);
		}

		li {
			display: inline-block;
			width: 20%;
			font-size: em(14);
			color: $text-color;

			

			&:nth-child(1) {
				width: 30%;
				font-family: $semibold;
				color: #4a4a4a;
				padding-left: 5px;
			}

			&:nth-child(2), &:nth-child(3), &:nth-child(4) {
				width: 15%;
			}

			&:nth-child(5) {
				text-align: right;
			}
		}
	}

	&:last-child ul {
		border-bottom: none;
	}
}


.domain-hosting-table {
	

	table {
	  border: 1px solid #ccc;
	  border-collapse: collapse;
	  margin: 0;
	  padding: 0;
	  width: 100%;
	  table-layout: fixed;
	}
	table caption {
	  font-size: 1.5em;
	  margin: .5em 0 .75em;
	}
	table tr {
	  background: #fff;
	  border: 1px solid #ddd;
	  padding: .35em;

	  &:nth-child(even) {
	  	background: #fff;
	  }
	}

	table tbody tr:nth-child(even) {
		background-color: #fff;
	}
	table th,
	table td {
	  padding: 15px .625em;
	  text-align: center;

	}
	table th {
	  font-size: em(14);
	  letter-spacing: .1em;
	  font-family: $semibold;
	  text-transform: uppercase;
	}
}













