.add-email-form {
	max-width: 500px;
	width: 100%;
	margin-top: 40px;

	button {
		margin-right: 10px;

		&:last-child {
			margin-right: 0;
		}
	}
}

.add-email-label {
	float: left;
	width: 200px;
}

.email_domain {
	float: left;
	font-family: $semibold;
	color: $black;
	font-size: em(18);
	margin-top: 5px;
	margin-left: 10px;
}

.domain-radio {
	margin-top: 15px;
	margin-bottom: 20px;
	input {
		float: left;
		margin-bottom: 0;
	}

	span {
		float: left;

		&.text-label {
			margin-left: 10px;
			margin-top: -4px;
			font-size: em(14);

		}

		&.mb {
			font-family: $semibold;
			margin-top: -5px;
		}

		input {
			width: 50px;
			margin-left: 10px;
			margin-top: -8px;
			padding: 5px;
			margin-right: 10px;
		}
	}
}

.confirm-buttons {
	margin-top: 30px;
}

.email-user {
	border-top: 2px solid #f1f1f1;
	border-bottom: 2px solid #f1f1f1;
	padding: 15px 0;
	margin-top: -2px;
}

.email-add-left {
	float: left;
	width: 30%;

	span {
		display: block;
		font-family: $semibold;
	}

	a {
		color: $black;

		&:hover {
			text-decoration: underline;
		}
	}
}

.email-actions-right {
	float: right;
	width: 40%;
	text-align: right;

	a {
		color: $blue;
		display: inline-block;
		padding: 0 5px;
		font-family: $semibold;
	}
}

.email-usage {
	float:left;
	width: 30%;
	text-align: center;

	p {
		margin-bottom: 0;
	}
}

.status-active {
	color: $green;
}


.tabs {
	background: transparent;
	border: none;
}






































