[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
	/* Rectangle 7: */
	border: 2px solid #DFDFDF;
	border-radius: 3px;
	box-shadow: none;
	color: #4d4d4d;
	padding: 10px 15px;
	height: initial;
	font-size: em(14);

	&:focus {
		border: 2px solid #c5c5c5;
		background-color: #fefefe;
		outline: none;
		box-shadow: none;
	}

	&.error {
		border: 2px solid $red !important;
	}
}

input:disabled {
	background-color: #fbfbfb;
	color: #222;
}

textarea {
	
}

select {
	// outline: none;
	// border-radius: 3px;
	// border: 2px solid #DFDFDF;
	// font-family: $regular;
	// font-size: em(14);
	// color: #4d4d4d;
	// padding-top: 10px;
	// padding-bottom: 11px;
	// height: initial;
}