$light: "proxima_novalight";
$semibold: "proxima_novasemibold";
$bold: "proxima_novabold";
$regular: 'proxima_novaregular';


$blue: #2176FF;
$green: #3DDC97;
$black: #2E3234;
$text-color: #4A4A4A;
$red: #F64D61;


@import 'fonts';
@import 'form';
@import 'buttons';


ul {
	margin: 0;
	padding: 0;

	li {
		list-style: none;
	}
}

.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}

.report-success, .report-error {
  text-align: center; 
  color: #fff;
  font-size: 14px;
  padding: 15px 0;
  font-family: $semibold;
  background: $green;
  position: absolute;
  top: 0;
  width: 100%;
}

.report-error {
  background: #EDE04D;
  color: #222;
}

.alert-box {
  padding: 10px 30px;
  display: block;
  font-size: em(14);
  // background: #39f;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  margin-bottom: 20px;

  p {
    margin-bottom: 0;
  }
}

.alert-success {
  background: #e4f2ed;
  color: #32d296
}

.alert-error {
  background: #fef4f6;
  color: #f0506e
}

