/**
 * TABS
 *
 * -------------------------------------------------------------------------------------------------
 */
// .tabs > DIV {
// 	/*border-top: 1px solid #c7c7c7*/
// 	margin-top: 10px;
// 	background: white !important;
// 	/*border-bottom: 4px solid #E95855 !important;*/
// }

// .tabs > DIV SPAN {
// 	border-bottom: 4px solid #E5E5E5 !important;
// 	color: #ccc !important;
// 	font-weight: 300;
// 	line-height: 186px !important;
// 	display: block;
// 	text-align: center;
// 	font-size: 24px;
// }

.tabs ul.horizontal {
	list-style: none outside none;
	margin: 0;
	margin-top: 20px;
	margin-bottom: 20px;
}

.tabs ul {
	border-bottom: 2px solid $blue;

}

.tabs ul li {
	background: white;
	margin: 0 1px 0 0;
	display: inline-block;
}

.tabs a {
	color: #fff;
	display: block;
	font-size: 14px;
	font-weight: 300;
	padding: 10px 20px;
	text-decoration: none;
}

.tabs li:hover {
	background: #a0cac0;
}

.tabs li:hover a {
	color: white;
}

.tabs ul li a {
	background: #ccc;
	color: $text-color;
}

.tabs li.active a  {
	background:$blue !important;
}

.active a {
	color: white !important;
}

.link {
	color: white;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 1px;
	line-height: 48px;
	margin-top: 20px;
	margin-left: 6px;
	text-decoration: none;
}

.link:hover {
	text-decoration: underline;
	color: inherit;
}

.anchorLink {
	
	color: white;
	text-decoration: none;
}

.anchorLink:hover {
	text-decoration: none;
	border-bottom: none;
	color: inherit;
}

.screenshot {
	position: absolute;
	clip: rect(0 0 0 0);
}

.prev,
.next {
	background: white !important;
	color: #a0cac0 !important;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.prev:hover,
.next:hover {
	background: #a0cac0 !important;
	color: white !important;
}

.logo {
	margin-top: -6px;
	margin-right: 10px;
	vertical-align: middle;
}

.button {
	background-color: #a0cac0;
	border: none;
	border-bottom: 4px solid #68a697;
	color: #FFFFFF;
	border-radius: 0;
	font-size: 14px;
	letter-spacing: 2px;
	height: 48px;
	line-height: 48px;
}

.button:hover {
	background: #93b7ae;
	color: #FFF;
	border-bottom-color: #68a697;
}