@import 'mixins';

// Navbar 

.custom-container {
	max-width: 1200px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
}

.logo, .logo-nav, .right-nav {
	float: left;
	font-family: $semibold;
}

.logo {
	img {
		margin-top: 5px;
	}
}

.logo-nav {
	padding-left: 20px;

	a {
		display: inline-block;
		text-transform: uppercase;
		color: #444;
		padding: 0px 10px;
		padding-top: 4px;
		text-decoration: none;

		&:hover {
			text-decoration: none;
		}
	}
}

.right-nav {
	float: right;
	padding-top: 4px;

	a {
		
		text-transform: uppercase;
		line-height: 1;
		margin-left: 20px;
		color: #626262;

		&:hover {
			text-decoration: none;
		}

		&.login {
			background: $blue;
			padding: 10px 20px;
			display: inline-block;
			margin-top: -10px;
			color: #fff;
			border-radius: 2px; 
			border: none;

			 span {
			 	display: inline-block;
			 	margin-left: 5px;
			 }
		}
	}
}

.navbar {
	padding: 25px 0 20px;
	position: relative;
}


// Knowledgebase
.kb-bg {
	background-color: $blue;
	background-image: url(../img/kb-bg.png);
	background-size: cover;
	background-position: center center;
	
	padding: 80px 0;

	h1 {
		font-size: em(48);
		color: #fff;
		margin-bottom: 5px;
	}

	p {
		font-size: em(18);
		color: #fff;
		margin-bottom: 20px;
	}

	.search-form {
		input[type="text"] {
			border: none;
			border-radius: 3px;
			padding: 20px 20px;
			height: initial;
			font-size: em(18);

			&:focus {
				box-shadow: none;
			}
		}

		input[type="submit"] {
			display: none;
		}
	}
}

.small-row {
	// max-width: 960px;
	// margin: 0 auto;
}

.kb-section {
	background: #fafafa;
	padding: 60px 0 100px;
}

.kb-category {
	width: 100%;
	// height: 330px;
	border: 2px solid #f1f1f1;
	border-radius: 3px;
	background: #fff;
	margin-bottom: 40px;
	padding: 20px 25px 20px;

	p {
		font-size: em(20);
		font-family: $semibold;
		color: $black;
		margin-bottom: 8px;

		i {
			margin-right: 5px;
		}
	}

	ul {
		li {
			font-size: em(16);
			padding: 10px 0;
			border-top:1px solid #f1f1f1;

			a {
				color: #666666;
				display: inline-block;
				line-height: 1.5;

				&.view-all {
					font-family: $semibold;
					color: $blue;
				}
			}
		}
	}
}

ul.breadcrumb {
	margin-bottom: 40px;
	li {
		display: inline-block;

		a {
			color: #444;
			font-size: 16px;

			&.current {
				font-family: $semibold;
			}
		}
	}
}

.cat-section {
	width: 22%;
	float: left;
	padding-left: 15px;

	p {
		font-size: em(24);
		margin-bottom: 15px;
		font-family: $semibold;
		color: $black;
	}

	ul {
		li {
			font-size: em(16);
			margin-bottom: 10px;
			color: #444;

			a {
				color: #444;

				&:hover {
					color: $black;
				}

				&.active {
					color: $blue;

					i {
						color: $blue;
						-ms-transform: rotate(180deg); /* IE 9 */
					    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
					    transform: rotate(180deg);
					}
				}

				span {
					i {
						margin-left: 5px;
						font-size: 20px;
						-webkit-transition: transform .35s ease-in-out; /* Safari 3.1 to 6.0 */
    					transition: transform .35s ease-in-out;
					}
				}
			}

			ul {
				margin: 0;
				padding-top: 8px;
				padding-left: 10px;
				display: none;

				li {
					font-size: em(14);
					margin-bottom: 5px;

					&:last-child {
						margin-bottom: 0;
					}
					a {

					}
				}
			}
		}
	}
}


.cat-content {
	float: left;
	width: 65%;
	h4 {
		font-size: em(24);
		margin-bottom: 15px;
		font-family: $semibold;
		color: $black;
	}

	h5 {
		color: #222;
		margin-bottom: 15px;
	}

	p {
		color: #444;
		font-size: em(16);
		margin-bottom: 13px;


		a {
			color: $blue;
		}
	}



	ul {
		margin-top: 20px;

		li {
			font-size: em(16);
			padding: 12px 0;
			border-top:1px solid #e4e4e4;
			font-family: $semibold;
			line-height: 1.5;

			p {
				font-size: 1em;
				line-height: 1.7;
			}

			&:last-child {
				border-bottom:1px solid #e4e4e4;
			}


			a {
				color: #444;
				display: inline-block;
				line-height: 1.5  ;
				padding-left: 5px;

				i {
					color: $text-color;
					margin-right: 5px;
				}

				&.view-all {
					font-family: $semibold;
					color: $blue;
				}
			}
		}
	}

	ol {
		li {
			font-size: em(16);
			color: #444;
			margin-bottom: 8px;

			p {
				font-size: 1em;
				line-height: 1.7;
			}

			a {
				color: $blue;
			}
		}
	}

	&.full-content {
		ul {
			margin-bottom: 15px;

			li {
				border-bottom: none;
				border-top: none;
				font-family: $regular;
				color: #444;
				padding: 0;
				line-height: 1.7;
				margin-bottom: 10px;
				list-style: initial;
				margin-left: 15px;

				p {
					font-size: 1em;
					line-height: 1.7;
				}
			}
		}

		strong {
			// font-family: $semibold;
			color: $black;
		}

		img {
			margin: 10px 0;
		}

		.comment-section {
			margin: 80px 0 100px;
		}

	}
}

.search-result {
	h5 {
			// border-bottom: 1px solid #f1f1f1;
			// margin-bottom: 0;
			// padding-bottom: 15px;
	
		a {
			color: $blue;
		}
	}

	font-size: em(16);

	b {
		font-family: $semibold;
	}
}

.for-mobile {
	display: none;
	margin-top: 30px;
}

.mobile-menu {
	display: none;
	padding: 5px 0 0;
	border-top: 1px solid #f1f1f1;
	a {
		display: block;
		text-transform: uppercase;
		font-size: em(14);
		text-align: left;
		padding: 12px 20px;
		color: #444;
		font-family: $semibold;
		border-bottom: 1px solid #f1f1f1;
	}
}



// MENU
#nav-icon1 {
  width: 25px;
  height: 20px;
  display: none;
  position: relative;
  margin-right: 10px;
  // margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  float: right;

  	span {
		display: block;
		position: absolute;
		height: 4px;
		width: 100%;
		background: $blue;
		border-radius: 9px;
		opacity: 1;
		left: 0;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .25s ease-in-out;
		-moz-transition: .25s ease-in-out;
		-o-transition: .25s ease-in-out;
		transition: .25s ease-in-out;

		&:nth-child(1) {
		  top: 0px;
		}

		&:nth-child(2) {
		  top: 8px;
		}

		&:nth-child(3) {
		  top: 16px;
		}
	}

	&.open span:nth-child(1) {
	  top: 10px;
	  -webkit-transform: rotate(135deg);
	  -moz-transform: rotate(135deg);
	  -o-transform: rotate(135deg);
	  transform: rotate(135deg);
	}

	&.open span:nth-child(2) {
	  opacity: 0;
	  left: -60px;
	}

	&.open span:nth-child(3) {
	  top: 10px;
	  -webkit-transform: rotate(-135deg);
	  -moz-transform: rotate(-135deg);
	  -o-transform: rotate(-135deg);
	  transform: rotate(-135deg);
	}

}




.header-bg {
	background: $blue url(../img/home-bg.jpg);
	background-size: cover;
	background-position: center center;
	padding: 150px 0;
}

.h-box {
	h1 {
		background: #fff;
		padding: 15px 25px;
		font-size: em(36);
		text-transform: uppercase;
		font-family: $regular;
		color: $black;
		display: inline-block;
		font-weight: 400;
		margin-bottom: 30px;
	}

	p {
		font-size: em(20);
		color: #fff;
		margin-bottom: 30px;
	}

	span {
		color: #fff;
		text-transform: uppercase;
		display: inline-block;
		padding: 0 25px;
		font-size: em(16);
		font-family: $semibold;

	}

	a.no-border {
		font-family: $semibold;
		font-size: em(16);
	}
}


.sales-pitch {
	padding: 100px 0;

	.title {
		h2 {
			font-size: em(30);
		}

		p {
			font-size: em(18);
			margin-bottom: 80px;
		}
	}
}

.sales-box {
	text-align: center;
	margin-bottom: 40px;

	img {
		margin-bottom: 15px;
	}
	h3 {
		font-size: em(20);
		font-family: $semibold;
		margin-bottom: 10px;

	}
	span {
		font-size: em(16);
		display: block;
		font-family: $regular;
		color: $text-color;
	}
}


.support-bg {
	background: $black url(../img/support-bg.jpg);
	background-size: cover;
	background-position: center center;
	padding: 120px 0;
	color: #fff;
	text-align: center;

	img {
		margin-bottom: 20px;
	}

	h2 {
		font-size: em(36);
		text-transform: uppercase;
	}

	p {
		font-size: em(18);
		margin-bottom: 0;
		color: #fff;
	}
}

.planning-table {
	padding: 50px 0;
}

.pricing-plan {
	padding: 100px 0;
}

.pricing-head {
	text-align: center;
	h3 {
		font-size: em(30);
		text-transform: normal;
	}

	p {
		font-size: em(18);
		color: $text-color;
	}
}

.pricing {
	background: #FFFFFF;
	border: 1px solid #C7C7C7;
	border-radius: 3px;
	margin-bottom: 40px;

	&.blue {
		border-top: 3px solid $blue;
	}

	&.green {
		border-top: 3px solid $green;

		i {
			color: $green !important;
		}
	}

	&.black {
		border-top: 3px solid $black;

		i {
			color: $black !important;
		}
	}



	.header-section {
		border-bottom: 1px solid #e6e5e5;
		padding: 25px 20px;
		text-align: center;

		h4 {
			margin-bottom: 0;
			font-size: em(18);
			text-transform: uppercase;
			margin-bottom: 10px;
		}

		p {
			margin-bottom: 0;

			&.price-big {
				font-size: em(48);
				font-family: $semibold;
				line-height: 1.2;
				margin-bottom: 5px;

				span {
					font-size: em(8);
				}
			}

			&.small-monthly {
				font-size: em(16);

				span {
					font-family: $semibold;
				}
			}
		}
	}

	.price-content {
		padding: 20px 25px;

		p {
			font-size: em(16);
			margin-bottom: 10px;
		}

		button {
			background: $green;
			color: $black;
			border-radius: 3px;
			text-transform: uppercase;
			font-family: $semibold;
			margin-top: 15px;
			width: 100%;
			font-size: em(16);
			padding: 15px 15px;
			margin-bottom: 20px;
		}

		ul {
			li {
				font-size: em(16);
				margin-bottom: 8px;
				color: $text-color;
				position: relative;
    			margin-left: 25px;

				span {
					font-family: $semibold;
					color: $black;
					display: inline-block;
					margin-right: 3px;
				}
				i {
					color: $blue;
					margin-right: 10px;
					position: absolute;
				    top: 4px;
				    margin-left: -25px;
				}
			}
		}
	}
}

ul.more-cpanel {
	position: relative;
	margin-top: 30px;
	li {
		font-size: em(16);
		margin-bottom: 15px;
		padding-left: 30px;

		&:before {
			width: 19px;
			height: 17px;
			content: " ";
			position: absolute;
			display: block;
			margin-left: -30px;
			margin-top: 3px;
			// left: 0;
			background: url(../img/check.png);
			background-repeat: no-repeat;

		}
	}
}

.about-section {
	background: $blue;
	color: #fff;

	.left {
		
		float: left;
		width: 50%;
		

		.inner-left {
			max-width: 600px;
			padding: 100px 30px;
			float: right;
			width: 100%;

			a {
				text-transform: uppercase;
			}

			h2 {
				font-size: em(36);
				text-transform: uppercase;
			}

			.cap {
				text-transform: uppercase;
				color: #fff;
				font-size: em(18);
			}

			.abt-small {
				color: #fff;
				font-size: em(18);
			}
		}
	}

	.right {
		background: url(../img/about-bg.jpg);
		width: 50%;
		float: right;
		background-size: cover;
		background-position: center center;

	}
}

// 404
.not-found-page {
	background: url(../img/404.jpg);
	background-size: cover;
	background-position: center;

	h1 {
		font-size: em(288);
		color: #fff;
		letter-spacing: 40px;
		margin-bottom: 20px;
		line-height: 1;
	}

	p {
		font-size: em(24);
		font-family: $semibold;
		color: #fff;
	}

	a.return {
		border: 2px solid #fff;
		border-radius: 3px;
		color: #fff;
		font-size: em(18);
		font-family: $semibold;
		padding: 15px 40px;
		display: inline-block;
		margin-top: 30px;

		&:hover {
			background-color: #fff;
			color: $blue;
		}
	}
}


// LOGIN PAGE
.login-page {
	background: $blue;
}

.table-res {
	display: table;
	width: 100%;
	height: 100%;
}

.table-cell {
	display: table-cell;
	vertical-align: middle;
}

.login-ctn {
	max-width: 450px;
	width: 100%;
	margin: 0 auto;
	padding: 70px 0;

	p {
		color: #fff;
		text-align: center;
		margin-top: 20px;
		font-size: em(16);

		a {
			color: #fff;
			font-family: $semibold;
			display: inline-block;
			margin-left: 5px;
			text-decoration: underline;
		}
	}
}

.login-form {
	background: #fff;
	padding: 30px 40px;
	border-radius: 3px;
	margin-top: 30px;



	h3 {
		text-align: center;
		font-family: $regular;
		color: $black;
		margin-bottom: 30px;
	}

	input[type="text"],input[type="email"], input[type="password"] {
		/* Rectangle: */
		background: #FCFCFC;
		border: 2px solid #DCDCDC;
		border-radius: 3px;
		padding: 15px 20px;
		// font-family: $semibold;
		font-size: em(16);
		margin-bottom: 20px;
		color: $text-color;

		&:focus {
			box-shadow: none;
		}
	}

	button {
		width: 100%;
		font-size: em(18);
		margin-bottom: 30px;
		padding: 15px;
		text-align: center;
	}

	a {
		color: $blue;
		font-size: em(16);
		display: block;
	}

	p {
		color: $text-color;
		margin: 0;
		font-size: em(14);

		a {
			color: $blue;
			font-size: em(14);
			font-family: $regular;
			text-decoration: none;
			display: inline;
		}
	}
}


.contact-sect {
	background: $blue url(../img/circuit.svg);
	background-size: cover;
	// background-position: center center;
	padding: 80px 0;
	text-align: center;

	p {
		font-size: em(36);
		margin-bottom: 10px;
		color: #fff;
		font-family: $semibold;
	}

	.btn {
		min-width: 240px;
		text-transform: uppercase;
	}
}

.hosting-bg {
	background: url(../img/bg-hosting.jpg);
	background-size: cover;
	background-position: center center;
	padding: 60px 0;

	h1 {
		font-size: em(36);
		color: #fff;
		font-family: $semibold;
		text-align: center;
		margin-bottom: 0;
	}

	.small-hd {
		font-size: em(18);
		font-family: $regular;
		text-align: center;
		color: #fff;
		margin-bottom: 0;
	}
}

.domain-ctn {
	padding: 100px 0;

	h5 {
		text-align: center;
		margin-bottom: 20px;
		color: $text-color;
	}

	.btn {
		text-transform: uppercase;
		min-width: 180px;
		margin-top: 30px;
	}

	.checkout-box {
		margin-top: 45px;
	}
}

.domain-box {
	/* Rectangle 12: */
	background: #FFFFFF;
	border: 2px solid #F1F1F1;
	box-shadow: 0 2px 4px 0 rgba(236,236,236,0.50);
	border-radius: 3px;
	padding: 45px 40px;
}


.domain-input-box {
	border: 2px solid #f1f1f1;
	border-radius: 2px;

	.prefix {
		float: left;
		padding: 17px 10px;
		width: 21%;
		background: #f4f4f4; 
		font-family: $semibold;
		color: #666;
		font-size: 17px;
		text-align: center;
	}

	input {
		float: left;
		width: 78%;
		border: none;
		padding: 19px 15px;
		font-size: 18px;
		font-family: $semibold;
		margin-bottom: 0;

		&:focus {
			outline: none;
			box-shadow: none;
			border: none;
		}
	}
}

.blue-btn-imp {
	background: $blue !important;
	color: #fff !important;
}

.faq-box {
	margin-bottom: 30px;

	.question {
		font-family: $semibold;
		color: $black;
		font-size: em(18);
		margin-bottom: 5px;
	}

	.answer {
		font-size: em(14);
		color: $text-color;
		padding-right: 30px;
	}
}

.small-row-faq {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

.quick-faq {
	padding: 100px 0;
}

.faq-hd {
	font-size: em(30);
	margin-bottom: 40px;
	color: $black;
	font-family: $semibold;
	text-align: center;
}

.h3-30 {
	font-size: em(30);
	text-align: center;
	color: $text-color;
	font-family: $semibold;
}

.blue-header {
	background: $blue;
	padding: 15px 0;

	p {
		color: #fff;
		font-size: em(18);
		font-family: $semibold;
		margin-bottom: 0;
		line-height: 1;
	}

	ul {
		li {
			display: inline-block;
			margin-right: 15px;
			// text-transform: uppercase;

			a {
				color: #fff;
				font-family: $semibold;
				font-size: em(14);
			}
		}
	}
}

.dash-warning {
	background: #F0B054;
	width: 100%;
	position: relative;
	margin-bottom: 0;


	&.alert-box {
		padding: 0;
	}

	.close {
		position: absolute;
		right: 30px;
		top: 15px;
		color: #fff;
		font-size: em(16);
	}

	p {
		margin-bottom: 0;
		text-align: left;
		padding: 10px 0;
		color: #fff;

		i {
			margin-right: 10px;
		}

		a {
			display: inline-block;
			background: #2E3234;
			padding: 5px 10px;
			color: #fff;
			border-radius: 2px;
			margin-left: 10px;
			font-size: em(12);
		}
	}
}

.checkout {
	padding: 60px 0 150px;
	background: #fafafa;

	h4 {
		// float: left;

		span {
			text-align: right;
			font-size: 16px;
			display: inline-block;
			float: right;
			margin-top: 8px;
			color: $black;

			a {
				color: $blue;
				text-decoration: underline;

			}
		}
	}

	// a {
	// 	float: right;
	// 	padding: 8px 15px;
	// 	margin-top: -5px;
	// 	font-size: em(12);

	// 	&:hover {
	// 		color: #fff;
	// 		text-decoration: none;
	// 	}
	// }
}

.payment-border {
	padding: 40px;
	border: 2px solid #f1f1f1;
	border-radius: 3px;
	margin-bottom: 30px;
	background: #fff;
}

.section-border {
	padding: 40px;
	border: 2px solid #f1f1f1;
	border-radius: 3px;
	margin-bottom: 30px;
	background: #fff;

	.field-form {
		margin-bottom: 20px;
	}

	label {
		font-size: em(14);
		font-family: $semibold;
		margin-bottom: 5px;
		color: #666;
	}

	input[type="text"], input[type="email"], input[type="tel"], input[type="password"] {
		padding: 13px 15px;
		font-size: em(14);
		font-family: $regular;
		border: 2px solid #f1f1f1;

		&:focus {
			box-shadow: none;
		}
	}

	span {
		font-size: em(16);
		font-family: $semibold;
		display: inline-block;
		margin-left: 5px;
		color: #666;
	}
}

.form-title {
	margin-bottom: 30px;

	&.profile {
		margin-bottom: 20px;
	}

	p {
		font-size: em(16);
		display: block;

		a {
			color: $blue;
			text-decoration: underline;
			font-family: $semibold;
		}
	}
}

.checkout-box {
	padding: 40px 40px 30px;
	border: 2px solid #f1f1f1;
	border-radius: 3px;
	margin-bottom: 30px;
	background: #fff;

	h3 {
		font-size: em(24);
		margin-bottom: 30px;
	}

	p {
		font-size: em(16);
		color: $black;
		font-family: $semibold;
		margin-bottom: 15px;
	}

	.plan {
		span {
			float: right;
		}
	}

	.dmain {
		span {
			display: block;
			text-align: left;

			a {
				padding: 0;
				color: $blue;
				float: left;
				margin-top: 3px;
				font-size: em(12);
				text-decoration: underline;
			}
		}
	}

	.vat {
		span {
			float: right;
		}
	}

	.total {
		span {
			float: right;
		}
		margin-bottom: 0;
		padding-top: 20px;
		border-top: 1px solid #E8E8E8;
		font-size: em(18);
	}
}

.middle {
  width: 100%;
  text-align: center;
  
  input[type="radio"] {
    display: none;
    &:checked {
      + .box {
        background-color: $blue;
        border: 2px solid $blue;
        span {
          color: white;
          transform: translateY(25px);
          &:before {
            transform: translateY(0px);
            opacity: 1;
          }
        }
      }
    }
  }
  .box {
    width: 130px;
    height: 130px;
    border: 2px solid #f1f1f1;
    float: left;
    border-radius: 2px;
    margin-right: 20px;
    background-color: #f8f8f8;
    transition: all 250ms ease;
    will-change: transition;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    position: relative;
    font-family: $semibold;
    &:active{
      transform: translateY(10px);
    }
    span {
      position: absolute;
      transform: translate(0, 25px);
      left: 0;
      right: 0;
      transition: all 300ms ease;
      font-size: 1em;
      user-select: none;
      color: $text-color;
      &:before {
        font-size: 1.2em;
        font-family: FontAwesome;
        display: block;
        transform: translateY(-80px);
        opacity: 0;
        transition: all 300ms ease-in-out;
        font-weight: normal;
        color: white;
      }
    }
  }
  .front-end {
    span {
      &:before {
        content: '\f121';
      }
    }
  }
  .back-end {
    span {
      &:before {
        content: '\f0f4';
      }
    }
  }
}


.checkout-btn {
	font-size: em(18);
	padding: 16px 30px;
}

.pay-select {
  display: flex;
  flex-flow: row wrap;
  margin-left: -20px;

  input[type="radio"] {
	  display: none;
	  &:not(:disabled) ~ label {
	    cursor: pointer;
	  }
	  &:disabled ~ label {
	    color: hsla(150, 5%, 75%, 1);
	    border-color: hsla(150, 5%, 75%, 1);
	    box-shadow: none;
	  }
	}
	label {
	  display: block;
	  background: white;
	  border: 2px solid #f1f1f1;
	  border-radius: 2px;
	  padding: 40px 20px;
	  margin-bottom: 1rem;
	  //margin: 1rem;
	  text-align: center;
	  box-shadow: 0px 3px 10px -2px hsla(150, 5%, 65%, 0.5);
	  position: relative;

	  h3 {
	  	color: $text-color;
	  }
	}
	input[type="radio"]:checked + label {
	  background: $blue;
	  color: hsla(215, 0%, 100%, 1);

	  i {
	  	color: #fff;
	  }
	  &::after {
	    color: $blue;
	    font-family: FontAwesome;
	    border: 2px solid $blue;
	    content: "\f00c";
	    font-size: 24px;
	    position: absolute;
	    top: -25px;
	    left: 50%;
	    transform: translateX(-50%);
	    height: 50px;
	    width: 50px;
	    line-height: 50px;
	    text-align: center;
	    border-radius: 50%;
	    background: white;
	    box-shadow: 0px 2px 5px -2px hsla(0, 0%, 0%, 0.25);
	  }

	  p {
	  	color: #fff;
	  }
	}

	p {
	  margin-bottom: 0;
	  font-size: em(16);
	  font-family: $semibold;
	  color: $text-color;
	}

	h3 {
		margin-bottom: 0;
	}


}
.pay-select > div {
  flex: 1;
  padding: 0.5rem;
}

.loged-info {
	display: none !important;
}

.success-error {
	padding: 120px 0;
	background: #fafafa;
	border-top: 1px solid #f1f1f1;

}
.success-ctn {
	margin: 0 auto;
	max-width: 450px;
	padding: 40px 30px;
	width: 100%;
	border-radius: 2px;
	text-align: center;
	border: 2px solid #f1f1f1;
	background: #fff;

	img {
		margin-bottom: 15px;
	}

	h3 {
		color: #099B5C;
		font-family: $regular;
		margin-bottom: 25px;
		font-size: em(20);

		&.error {
			color: #F64D61;
		}
	}

	p {
		font-size: em(14);
		color: $text-color;
		margin-bottom: 30px;

		span {
			font-family: $semibold;
			color: $black;
		}
	}

	a {
		text-transform: uppercase;
		font-size: em(14);
		max-width: 240px;
		width: 100%;

		&:hover {
			color: #fff;
		}

		&.alt-link {
			display: block;
			margin-top: 20px;
			color: $text-color;
			text-transform: none;
		}
	}
}


.pay-details {
	max-width: 300px;
	width: 100%;
	margin: 0 auto;
	font-size: em(16);
	text-align: left;
	margin-bottom: 30px;
	font-family: $semibold;

	span {
		float: right;
		font-family: $regular !important;
		color: $text-color;
	}

	p  {
		margin-bottom: 10px;
	}
}


.tos {
	padding: 50px 0;

	p {
		font-size: em(16);
		margin-bottom: 10px;
		color: #4a4a4a;
		line-height: 1.5;
	}

	h1 {
		font-family: $semibold;
		font-size: em(20);
		margin-bottom: 10px;
		
	}

	section {
		margin-bottom: 30px;

		ul, ol {
			
			margin-top: 15px;
			margin-bottom: 15px;
			li {
				font-size: em(16);
				margin-bottom: 15px;
				// list-style-type: decimal;
				color: #4a4a4a;

				ol {
					margin: 10px 0;
					li {
						font-size: 16px;
					}
				}
			}
		}
	}
	
}














// Footer 

.footer {
	background: $black;
	padding: 80px 0 20px;
	color: #fff;

	.copy {
		font-size: em(10);
		margin-top: 50px;
		font-family: $semibold;
	}
}

.footer-box {
	max-width: 1200px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}

.footer-links {
	float: left;
	width: 25%;
	// min-height: 200px;

	h4 {
		color: #fff;
		font-family: $semibold;
		margin-bottom: 14px;
	}

	ul {
		li {
			font-size: em(14);
			margin-bottom: 8px;
			list-style: none;


			a {
				color: #fff;
				text-decoration: none;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}

	p {
		margin: 0;
		margin-bottom: 8px;

		i {
			color: #fff;
			margin-right: 5px;
		}
	}

	.social-links {
		margin-top: 15px;
		a {
			color: #fff;
			margin-right: 10px;

			i{
				color: #fff;
			}
		}
	}
}

.nice-select {
	border-radius: 3px;
	border: solid 2px #f1f1f1;
	width: 100%;
	height: 50px;

	span {
		line-height: 50px;
		font-family: $regular;
	}

	&:focus {
		border-color: #e3e3e3;
	}

	&.open {
		border-color: #e3e3e3;

		.list {
			width: 100%;
			border-radius: 0px;
			border: solid 2px #f1f1f1;
			max-height: 200px;
			overflow: auto;
		}
	}
}

.about-pad {
	padding-right: 20px;
}


.duration-select {
	width: 100px;
	float: right;
	height: 40px;
	margin-top: -5px;
	border: none;
	outline: none;

	&:focus {
		outline: none;
	}

	span {
		line-height: 40px;
	}

	&.open {

		.list {
			width: 96px;
			
		}
	}

	.option {
		padding-left: 0;
		padding-right: 0;
		text-align: center;
	}
}

.error-messages {
	ul {
		background: #F64D61;
		padding: 10px 15px;
		border-radius: 3px;
		li {
			color: #fff;
			margin-bottom: 5px;
		}
	}
}

.empty-dashboard {
	background: #fff;
	border: 2px solid #ECECEC;
	text-align: center;
	border-radius: 3px;
	padding: 100px 20px; 
	margin-bottom: 100px;

	img {
		margin-bottom: 30px;
	}

	p {
		font-size: em(18);
		color: #9D9D9D;
	}

	.blue-btn {
		padding: 10px 30px;

		&:hover {
			color: #fff;
		}
	}
}




@import 'dashboard';
@import 'email';
@import 'tabs';



.single-plan-columns {
	width: 100%;
	max-width: 380px;
	margin: 0 auto;
	margin-top: -160px;

	.pricing {
		margin-bottom: 0;
	}
}

.single-bg {
	background: url(../img/pattern-3.svg);
	// background-size: cover;
	// background-position: center;
	padding: 80px 0 180px;
	color: #fff;

	h3 {
		margin-bottom: 10px;
	}

	p {
		font-size: em(14);
		color: #fff;
	}
}




























@media screen and (max-width: 960px) {
	.cat-section {
		width: 25%;
	}

	.cat-content {
		width: 70%;
	}

	.dash-left {
		display: none;
	}

	.dash-right {
		width: 100%;
	}

	.main-dash {
		padding: 45px 20px;
	}

}

@media screen and (max-width: 800px) {
	.logo-nav, .right-nav {
		display: none;
	}

	#nav-icon1 {
		display: inline-block;
	}

	// .mobile-menu {
	// 	display: block;
	// }

}

@media screen and (max-width: 768px) {
	.footer-links {
		width: 33.3%;
		margin-bottom: 20px;
	}

	

	.cat-content {
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}

	.cat-section {
		display: none;
	}

	.for-mobile {
		display: block;
		width: 100%;
		padding-right: 15px;

		p {
			padding-top: 30px;
			border-top: 2px solid #e2e2e2;
		}
	}

	.header-bg {
		padding: 100px 0;
	}

	.about-section {
		.left, .right {
			width: 100%;
		}

		.left {
			.inner-left {
				max-width: 700px;
				float: none;
				padding: 70px 20px;
			}
		}
	}

	.support-bg {
		padding: 70px 0;
	}

	.pricing-plan {
		padding: 60px 0;
	}

	.pricing {
		.header-section {
			p.price-big {
				font-size: em(40);
			}
		}
	}

	.domain-table {
		border-top: 1px solid #ccc;
	}

	.dashboard-section {
	    margin-top: 30px;
	}

	.domain-details {
		&.table-head {
			// display: none;
			margin-bottom: 0;

			ul {
				padding-bottom:0;
			}
		}

		ul {
			li {
				&:nth-child(1) {
					width: 35%;
					margin-bottom: 5px;
					padding-left: 0;
				}

				 &:nth-child(3), &:nth-child(4) {
					display: none;
				}

				&:nth-child(2) {
					width: 30%;
					margin-bottom: 5px;
					font-family: $semibold;
				}

				&:nth-child(5) {
					width: 30%;
					text-align: left;
				}
			}
		}
	}
}

@media screen and (max-width: 729px) { 
	.planning-table {
		.small-row {
			.medium-4 {
				width: 100%;
			}
		}
	}
}

@media screen and (max-width: 640px) { 
	.form-title {
		h4 {
			font-size: em(24);

			span {
				display: block;
				float: none;
				text-align: left;
				margin-left: 0;
				margin-top: 20px;
				color: $text-color;
			}
		}
	}

	.domain-hosting-table {
	
	  table {
	    border: 0;
	  }
	  table caption {
	    font-size: 1.3em;
	  }
	  table thead {
	    border: none;
	    clip: rect(0 0 0 0);
	    height: 1px;
	    margin: -1px;
	    overflow: hidden;
	    padding: 0;
	    position: absolute;
	    width: 1px;
	  }
	  table tr {
	    border-bottom: 3px solid #ddd;
	    display: block;
	    margin-bottom: .625em;
	  }
	  table td {
	    border-bottom: 1px solid #ddd;
	    display: block;
	    font-size: .8em;
	    text-align: right;
	  }
	  table td:before {
	    /*
	    * aria-label has no advantage, it won't be read inside a table
	    content: attr(aria-label);
	    */
	    content: attr(data-label);
	    float: left;
	    font-weight: bold;
	    text-transform: uppercase;
	  }
	  table td:last-child {
	    border-bottom: 0;
	  }
	
	}

	
	.footer-about {
		width: 100% !important;
	}

}

@media screen and (max-width: 480px) {
	.footer {
		padding: 50px 0 20px;

		.copy {
			margin-top: 0;
		}
	}

	.footer-box {
		padding-left: 20px;
		padding-right: 20px;
	}

	.custom-container {
		padding-left: 15px;
		padding-right: 15px;
	}

	.footer-links {
		width: 50%;
		margin-bottom: 30px;

		// &.short-height {
		// 	min-height: 150px;
		// }
	}

	ul.breadcrumb {
		margin-bottom: 30px;
	}

	.kb-bg {
		padding: 50px 0;

		h1 {
			font-size: em(30);
		}

		p {
			font-size: em(14);
		}
	}

	.navbar {
		padding: 20px 0;
	}

	.logo {
		img {
			height: 20px;
		}
	}

	.kb-category {
		margin-bottom: 20px;
	}



	// Landing Page
	.header-bg {
		padding: 70px 0;
	}

	.h-box {
		h1 {
			font-size: em(24);
			padding: 10px 20px;
			margin-bottom: 15px;
		}

		p {
			font-size: em(16);
		}

		.btn {
			padding: 10px 20px;
		}
	}

	.sales-pitch {
		padding: 60px 0;

		.title {
			h2 {
				font-size: em(24);
			}
		}
	}

	.support-bg {
		padding: 70px 0;
		img {
			margin-bottom: 30px;
		}
		h2 {
			font-size: em(24);
		}

		p {
			font-size: em(16);
		}
	}

	.pricing-plan {
		padding: 50px 0;
	}

	.planning-table {
		padding: 30px 0;
	}

	.pricing {
		width: 90%;
		margin: 0 auto 40px;
	}

	.about-section {
		.left, .right {
			width: 100%;

			.inner-left {
				padding: 50px 20px;

				h2 {
					font-size: em(24);
				}

				.cap {
					font-size: em(14);
				}

				.abt-small {
					font-size: em(14);
				}
			}
			// height: initial !important;
		}

		.right {
			display: none;
		}
	}

	.login-form {
		h3 {
			font-size: em(24);
		}

		border-radius: 0;
		padding: 30px 30px;
	}

	.hosting-bg {
		padding: 50px 0;

		h1 {
			font-size: em(30);
			line-height: 1.2;
			margin-bottom: 10px;
		}

		.small-hd {
			font-size: em(18);
			line-height: 1.2;
			margin-bottom: 0;
		}
	}

	.contact-sect {
		padding: 50px 0;
		p {
			font-size: em(24);
		}
	}

	.small-row-faq {
		padding: 0 10px;
	}

	.quick-faq {
		padding: 50px 0;
	}

	.faq-hd {
		margin-bottom: 20px;
		font-size: em(24);
	}

	.section-border, .payment-border {
		padding: 30px 20px;
	}

	.middle {
		.box {
			width: 100%;
			margin-right: 0;
			margin-bottom: 20px;
		}
	}

	.pay-select {
		margin-left: 0;
		& > div {
			flex: none; 
			width: 100%;
		}
	}

	.checkout-box {
		padding: 40px 30px 30px;
	}

	.success-error {
		padding: 50px 0;
	}

	// DASHBOARD QUERIES

	.dash-left {
		display: none;
	}
	
	.dash-right {
		width: 100%;
	}

	.main-dash {
	    border-left: 1px solid #dcdcdc;
	    padding: 30px 0px;
	    padding-left: 10px;
	    padding-right: 10px;
	}

	.category-box {
		margin-bottom: 20px;
	}

	.stats-box {
		margin-bottom: 15px;
	}

	.email-add-left, .email-actions-right, .email-usage {
		float: none;
		width: 100%;
		text-align: left;
		margin-bottom: 7px;
	}

	.email-actions-right {
		margin-bottom: 0;
		a {
			padding-left: 0;
			padding-right: 10px;
		}
	}

	.add-email-label {
		width: 100px;
	}

	.add-email-form {
		margin-top: 20px;
	}

	.dashboard-section {
		margin-top: 0 !important;
	}

	.domain-table {
		border-top: 1px solid #ccc;
	}
	.domain-details {
		&.table-head {
			display: none;
		}

		ul {
			li {
				&:nth-child(1) {
					width: 100%;
					margin-bottom: 5px;
					padding-left: 0;
				}

				 &:nth-child(3), &:nth-child(4) {
					display: none;
				}

				&:nth-child(2) {
					width: 100%;
					margin-bottom: 5px;
					font-family: $semibold;
				}

				&:nth-child(5) {
					width: 100%;
					text-align: left;
				}
			}
		}
	}

	.empty-dashboard {
		padding: 50px 15px;
		margin-bottom: 50px;
	}	
}
















